# Get you Convex deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=
VITE_CONVEX_URL=

# Get your OpenAI API Key here for chat models: https://platform.openai.com/account/api-keys
VITE_OPENAI_API_KEY=

# Get you Vercel OIDC key following this instruction https://vercel.com/docs/vercel-sandbox
VERCEL_OIDC_TOKEN=